.clear { clear: both; width: 100%; height: 0; }
.indexWrap { background: none }
.JMD_SJ { width: 100%; height: auto; }
.JMD_SJ_sear { width: 100%; height: 40px; line-height: 40px; margin-bottom: 10px;padding-left: 25px;box-sizing: border-box; }
.JMD_SJ_sear p { float: left; margin:3px 20px 0 0; font-size: 16px;}
.JMD_SJ_sear input { width: 100px; height: 30px; border: none; border-radius: 20px; background: #fff url(../images/SJ_sear_03.png)no-repeat; background-size: 15px 15px; text-indent: 100px; border: 1px solid #e5e5e5; background-position: 10px; }
.JMD_SJ_sear a { display: block; width: 120px; height: 38px; background: #00a185; float: right; color: #FFF; text-align: center; line-height: 38px; margin: 1px; }
.JMD_SJ_sear a:hover { color: #FFF; background: #027c67 }
.JMD_SJ_Qy { width: 100%; height: auto; border: 1px solid #e5e5e5; box-sizing: border-box; margin-top: 10px; }
.JMD_SJ_Qy_JD { width: 96%; height: 65px; border-bottom: 1px solid #e5e5e5; box-sizing: border-box; margin: 0 auto; overflow: hidden;/*  padding-bottom: 15px;  */ padding-left: 60px; position: relative; }
.JMD_open { height: auto; }
.JMD_PL {background:#ffffff;border: 1px solid #CCC; box-sizing: border-box; }
.JMD_PL div:last-child { border-bottom: none; }
.JMD_SJ_more { position: absolute; right: 20px; top: 20px; line-height: 35px; width: 40px; height: 35px; cursor: pointer; color: #999 }
.JMD_SJ_more i { display: block; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 8px solid #999; position: absolute; top: 15px; right: -10px; }
.JMD_SJ_List { float: left; line-height: 35px; position: absolute; top: 15px; left: 5px; color: #999 }
.JMD_SJ_Qy_JD ul { overflow: hidden; width: 95%; padding-bottom: 10px; box-sizing: border-box; margin-left: 20px;}
.JMD_SJ_Qy_JD ul li { padding: 0px 20px 0px 20px; height: 35px; text-align: center; line-height: 35px; float: left; margin: 15px 15px 0 0; cursor: pointer; font-size: 16px; }
.JMD_SJ_Qy_JD ul li:hover { background: #e5e5e5; color: #999 }
.JMD_SJ_Qy_JD_choose { background: #00a185; color: #FFF; }
.none { border-bottom: none; }
.JMD_SJ_GSK { width: 100%; height: auto; margin-top: 35px; }
.JMD_SJ_GSK ul { width: 100%; height: auto; /*overflow: hidden; padding: 5px 5px 0 0; */box-sizing: border-box; }
.JMD_SJ_GSK ul li { width: 32%;/* height: 225px;*/height: 180px; float: left; position: relative; margin-bottom: 20px; overflow: hidden; border: 1px solid #CCC; box-sizing: border-box;/* position: relative;*/}
.JMD_SJ_GSK ul li:nth-child(n) { margin-right: 2% }
.JMD_SJ_GSK ul li:nth-child(3n) { margin-right: 0}
.SJ_JMD_list_Content_Top_Right p{position: relative;}
.SJ_JMD_list_Content_Top_Right p:nth-child(1):after{content: "";}
/*.JMD_SJ_GSK ul li:nth-child(2):after{content: "";width: 30px;height: 30px;background: url(//cdn.jiemodui.com/img/mingming/jiemodui/VIP-01-01.svg);position: absolute;top: 5px;right: -7px}*/

/*.VIP_SJ{width: 20px;height: 20px;display: inline-block;}
.VIP_SJ img{width: 100%}
..SJ_JMD_list_Content_Top_Right p:nth-child(1) i{}*/
#JMD_SJ_GSK_RPK li .SJ_JMD_list_Content .SJ_JMD_list_Content_Top .SJ_JMD_list_Content_Top_Right p:first-child i{ width: 25px;height: 25px;background: url(//cdn.jiemodui.com/img/mingming/jiemodui/Old_VIP.png) ;display: inline-block;background-size: 100%}

.JMD_SJ_GSK_List { width: 100%; height: 100%; }
.JMD_SJ_GSK_Left { width: 40%; height: 100%; float: left; background: #00a185; padding: 20px 10px; box-sizing: border-box; }
.SJ_JMD_list_Content { width: 100%; height: 100%; }
.SJ_JMD_list_Content_Top { width: 100%; height: 180px; background: #FFF }
.SJ_JMD_list_Content_Top_Left { width: 130px; height: 100%; float: left; }
.SJ_JMD_list_Content_Top_Left a { display: block; height: 100px; width: 100%; background-position: center center; background-size: cover; }
.SJ_JMD_Logo { height: 120px;width: 120px;border-right: 1px solid #e5e5e5; padding: 5px; box-sizing: border-box; overflow: hidden; margin-top: 25px; }
.SJ_JMD_list_Content_Top_Right { width: 56%; /*height: 125px; *//*float: right;*/ padding: 25px 10px 0 10px; box-sizing: border-box; overflow: hidden;    display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.SJ_JMD_list_Content_Top_Right p { line-height: 20px; color: #333; font-size: 14px; }
.SJ_JMD_list_Content_Top_Right p a { line-height: 30px; color: #333; font-size: 14px; }
.SJ_JMD_list_Content_Top_Right p:nth-child(1) a { font-size: 16px; }
.SJ_jmd_cp span { color: #00a185 }
.SJ_JMD_list_Content_Bottom { width: 100%; height: 43px; background: #F3F5F7 }
.SJ_JMD_list_Content_Bottom_Content { width: 60%; height: 43px; float: right; }
.SJ_JMD_list_Content_Bottom_Content ul li { margin: 8px 10px 10px 0; padding: 3px 12px; background: #FFF;color: #00a185!important; text-align: center; width: auto !important; height: auto !important; margin-right: 5px !important; border: 1px solid #00a185;font-size: 14px;}
.SJ_JMD_list_Content_Bottom_Content ul li:nth-child(1){margin-left: -3px;}
.JMD_SJ_GSK ul li:hover { position: relative; top: -1px; box-shadow: 5px 5px 5px #CCC }
.JMD_SJ_GSK ul li:hover .SJ_JMD_list_Content_Top_Right_C { color: #00a185 }
.SJ_JMD_list_Content_Bottom_Content ul li:hover { top: 0; box-shadow: none; }
.Top_Right_C_T { /*display: block;*/ width: 80%; /*float: right;*/ height: 50px; overflow: hidden; line-height: 20px;}
.JMD_SJ_GSK_Left_Logo { width: 90px; height: auto; overflow: hidden; margin: 0 auto 10px auto }
.JMD_SJ_GSK_Left_Logo img { width: 100%; height: auto; }
.JMD_SJ_GSK_Left p { font-size: 14px; color: #FFF; width: 90px; height: auto; margin: 10px auto 10px auto }
.JMD_SJ_GSK_Left span { padding: 3px 6px; background: #FFF; color: #00a185; margin: 3px; display: inline-block; font-size: 12px; }
.JMD_SJ_GSK_Right { width: 60%; height: 100%; float: right; background: #FFF; padding: 20px 10px; box-sizing: border-box; }
.JMD_SJ_GSK_Right { position: relative }
.JMD_SJ_GSK_Right p { font-size: 14px; margin-bottom: 15px; }
.JMD_SJ_GSK_Right p mark { background: #FFF; color: #00a185; margin-left: 5px; }
.JMD_SJ_GSK_List1 {/*position: absolute;*/ top: 100%; width: 100%; height: 100%; background: #FFF; padding: 25px; box-sizing: border-box; }
.JMD_Xg_About { font-size: 14px; color: #333 }
#JMD_SJ_more { -moz-user-select: none; }
/**/ .JMD_SJ_GSK ul li:hover .JMD_SJ_GSK_List1 { animation: myfirst .5s forwards; -moz-animation: myfirst .5s forwards;	/* Firefox */ -webkit-animation: myfirst .5s forwards;	/* Safari 和 Chrome */ -o-animation: myfirst .5s forwards; }
.asdfgh { animation: seconde .5s forwards; -moz-animation: seconde .5s forwards;	/* Firefox */ -webkit-animation: seconde .5s forwards;	/* Safari 和 Chrome */ -o-animation: seconde .5s forwards; }
.JMD_SJ_GSK_Right ul { overflow: hidden; }
.JMD_SJ_GSK_Right ul li { float: none; height: auto; width: 100%; font-size: 14px; overflow: hidden; margin-bottom: 5px; line-height: 30px; }
.JMD_SJ_GSK_Right a button { position: absolute; bottom: 20px; right: 20px; z-index: 999; line-height: none; background: #00a185 }
.JMD_SJ_GSK_Right a button:hover { background: #e5e5e5 }
.JMD_SJ_GSK_Right ul li div { float: left; }
.JMD_SJ_GSK_Right ul li div:nth-child(1) { width: 70px; margin-right: 10px; text-align: justify }
.JMD_SJ_GSK_Right ul li span { color: #00A185; margin-right: 17px; }
.JMD_SJ_GSK_List1 ol { margin-left: 30px; }
.JMD_SJ_GSK_List1 ol li { float: none; height: 40px; width: auto; margin-bottom: 0; line-height: 40px; list-style: initial; margin-left: 40px; color: #666 }
.JMD_SJ_GSK_List1 ol li:hover { color: #00a185 }
.JMD_SJ_GSK_List1_JS p { margin-bottom: 10px; line-height: 25px; font-size: 14px; line-height: 28px; color: #666 }
.SJ_JMD_A1, .SJ_JMD_A2 { width: 100%; }
.SJ_JMD_A2_1_1 { float: left; border-right: 5px solid #f3f5f7; box-sizing: border-box; position: relative; }
.SJ_JMD_A2_1_2 { float: right; position: relative; border-left: 5px solid #f3f5f7; box-sizing: border-box; }
.SJ_JMD_A2_1_1, .SJ_JMD_A2_1_2 { width: 50%; height: 100%; overflow: hidden; }
.SJ_JMD_A2_1_1 a, .SJ_JMD_A2_1_2 a { width: 100% !important; }
.SJ_JMD_A2_1_2 a { position: absolute; right: 0; }
.SJ_JMD_A1_1 a { height: 225px !important; }
.JMD_SJ1{display: none;}

.rept_Sear_Par{position: relative;}
.rept_Sear{background: #f3f5f7;width: 30px;height: 30px;border: 1px solid #CCC;color: #ccc;text-align: center;line-height: 30px;display: none;box-sizing: border-box;border-radius: 50%;position: absolute;right: -35px;top:-2px;}
.rept_Sear:hover{border-color: #00a185;color: #00a185;}
.O_company{height: 400px;display: none;}
.SJ_JMD_A1{
	 display: none;
    width: 100%;
    height: 400px;
    background-position: center center;
    background-size: cover;
    bottom: 0;
    left: 0;}
 @keyframes myfirst {
from {
top: 100%;
}
to {
top: 0%;
}
}
 @-moz-keyframes myfirst /* Firefox */ {
from {
top: 100%;
}
to {
top: 0%;
}
}
 @-webkit-keyframes myfirst /* Safari 和 Chrome */ {
from {
top: 100%;
}
to {
top: 0%;
}
}
 @-o-keyframes myfirst /* Opera */ {
from {
top: 100%;
}
to {
top: 0%;
}
}
 @keyframes seconde {
from {
top: 0%;
}
to {
top: 100%;
}
}
 @-moz-keyframes seconde /* Firefox */ {
from {
top: 0%;
}
to {
top: 100%;
}
}
 @-webkit-keyframes seconde /* Safari 和 Chrome */ {
from {
top: 0%;
}
to {
top: 100%;
}
}
 @-o-keyframes seconde /* Opera */ {
from {
top: 0%;
}
to {
top: 100%;
}
}
.productListContent { background: #f3f5f7; /*margin-top: 25px; */position: relative;}
/* .introduce table { border: none; }
.introduce table td { border: none; font-size: 15px }
.introduce table td:nth-child(1) { width: 33.33%; background: #fff; padding: 15px; box-sizing: border-box; overflow:hidden;}
.introduce table td:nth-child(1) img{min-width:150px;max-width:300px;min-height:75px;max-height:150px; margin:0;}
.introduce table td:nth-child(2) { width: 20px; }
.introduce table td:nth-child(3) { padding: 15px; box-sizing: border-box; background: #fff; text-align: left }
.introduce table .logobox { display: none; overflow: hidden; padding: 0 10px 0 0; box-sizing: border-box }
.introduce table .logo-r { display: none; border: none; min-height: auto; }
.introduce table td h1 { color: #333; font-size: 20px; margin-bottom: 10px; }
.introduce table td li p { font-size: 14px; } */
/*.line{max-height: 240px!important;}*/
.ListMatter_left .xiangxi {background: #fff; margin-bottom: 20px; font-size: 15px; height: auto; overflow-y: auto; margin-top: 0;     border: 1px solid #e5e5e5;}
.ListMatter_left .xiangxi p { font-size: 15px; }
.ListMatter_left .xiangxi img{max-width: 100%;}
.ListMatter_left div.l-r ol.xiangxi li { clear: both; position: relative; width: auto; box-sizing: border-box; padding-left: 112px;}
.ListMatter_left .xiangxi li div em { padding: 0 10px 0 0; display: inline-block; color: #999; font-style: inherit; position: absolute;left: -150px;top: 28px;}
.ListMatter_left .xiangxi li div span { display: inline-block; color: #666; position: absolute;left: -80px;top: 50%;margin-top: -10px;overflow: hidden;}

.ListMatter_left .xiangxi li div { min-height: auto; padding:15px; width: auto; box-sizing: border-box; position: relative;font-size: 16px;border-left: 2px solid #CCC;}

.ListMatter_left .xiangxi li i { position: absolute; top: 50%; width: 10px; height: 10px; border-radius: 50%; background-color: #00A185; display: inline-block; margin-top: -5px; margin-left: -6px;z-index: 80;border: 2px solid #FFF;}
.ListMatter_left .xiangxi li .leixing { color: #333; background: #333; }
.ListMatter_left .xiangxi li a { color: #333;display: inline-block;width: 40px;height: 20px;background: #FF4231;text-align: center;line-height: 20px;margin-top: 9px;color: #FFF;border-radius: 3px;margin-right: 0px;margin-left: 20px;font-size: 12px;}
.new_Label ul { margin-top: 0; }
.ListMatter_left .xiangxi li:hover{background: #fafafa;}

.ListMatter_left .xiangxi li:hover .dock_P{color: #FF4231;background: #fafafa;}
.ListMatter_left .xiangxi li:hover .dock_l{color: #318DE0;background: #fafafa;}
.ListMatter_left .xiangxi li:hover .dock_P a {color: #FF4231;background: #fafafa;}
.ListMatter_left .xiangxi li:hover .dock_l a {color: #318DE0;background: #fafafa;}
.ListMatter_left .xiangxi li .dock_P a {color: #FF4231;background: #FFF;width: auto;font-size: 16px;}
.ListMatter_left .xiangxi li .dock_l a {color: #318DE0;background: #FFF;width: auto;font-size: 16px;}
/* .gusslike li{ border-right: 10px solid #FFF; padding: 0; position: relative;min-height: 54px;}
.gusslike li td { text-align: left; background:#fff}
.gusslike li .tuandui{height:54px;background:#fff;padding: 15px;box-sizing: border-box;}
.gusslike li .tuandui h3{font-size: 16px;}
.gusslike li .tuandui h3 a { background: #00a185; border-radius: 3px; color: #fff; display: inline-block; text-align: center; width: 30px; padding: 5px 10px; font-size: 12px; margin-top:0px }
.gusslike li .tuandui p { display: none; font-size: 13px; line-height: normal; letter-spacing: normal; margin: 0; max-height: 43px; overflow: hidden; padding-right: 10px; box-sizing: border-box; }
.gusslike li .tuandui p a { background: #00a185; border-radius: 3px; color: #fff; display: block; text-align: center; width: 30px; padding: 5px 10px; font-size: 12px; margin-top: 5px }
.gusslike li .tuandui:hover {height:115px; position: absolute; z-index: 99;width:100%;}
.gusslike li .tuandui:hover p{ display: block;}
.gusslike li td.tdtouxiang { padding: 15px; border-right: none; text-align: left; width: 115px; height: 115px; box-sizing: border-box; }
.gusslike li td img { margin: 0; }
.gusslike li td.w15 { width: 15px; }
.gusslike li td h3{font-size: 16px;}

.gusslike li td p { font-size: 13px; line-height: normal; letter-spacing: normal; margin: 0; max-height: 43px; overflow: hidden; padding-right: 10px; box-sizing: border-box; }

.gusslike li td p img { width: 100%; margin: 0 auto; }
.aboutnews li {line-height: 25px; padding: 5px 0; margin-bottom:5px; position: relative; min-height: 25px; clear: both; background:#fff;}
.aboutnews li div:nth-child(1) { position: absolute; left:10px; top: 5px; width: 10px; height: 10px; border-radius: 5px; background-color: #ccc; display: inline-block; margin-top: 8px; }
.aboutnews li div:nth-child(2) { float: left; font-size: 14px; padding: 0 5px 0 195px;box-sizing: border-box; }
.aboutnews li div:nth-child(2) a{ color:#666;border-bottom:1px solid #666;}
.aboutnews li div:nth-child(2) a:hover{ color:#333;border-bottom:1px solid #333;}
.aboutnews li div:nth-child(3) { float: right; font-size: 14px; color: #999; position: absolute; top: 5px; left: 30px; } */
.productListMold { border-bottom: none; height: auto; }
.new_Label ul li { height: auto; }
.l-r{overflow: hidden;margin-top: 10px;}
.JMD_Big_mg_1 ul li{background: #CCC;color: #FFF;border: none;padding: 11px 19px;margin-right: 10px;line-height: inherit;height: auto;}
.productListMatter { width: 100%; overflow: hidden; margin-top: 20px; }
/*屏蔽背景层*/
#shuju_k { display: none; position: fixed; _position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background-color: #fff; background: -moz-radial-gradient(50% 50%, #fff, #000); /*gradient for firefox*/ background: -webkit-radial-gradient(50% 50%, #fff, #000); /*new gradient for webkit */ background: -webkit-gradient(radial, 0 50%, 0 50%, from(#fff), to(#000)); /*the old grandient for webkit*/ opacity: 0.5; filter: Alpha(opacity=50); _display: block; _left: -10000px; z-index: 9999; }
/*弹出层*/
#shuju_m { display: none; position: fixed; background-color: #fff; top: 50%; left: 50%; width: 350px; height: 250px; margin-left: -175px; margin-top: -200px; padding: 10px; line-height: 21px; box-shadow: 0 5px 27px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 5px 27px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 5px 27px rgba(0, 0, 0, 0.3); _position: absolute; _display: block; _left: -10000px; z-index: 10000; border-top: 5px solid #00A185; }
/*关闭按钮*/
#shuju_C { display: block; border: solid 2px #ccc; padding: 0px 5px; text-decoration: none; font-size: 12px; color: blue; position: absolute; right: 5px; top: 5px; line-height: 25px; text-align: center; height: 25px; width: 25px; border-radius: 25px; -moz-border-radius: 25px; background-color: white; border: 1px solid #E5E5E5; color: #CCC; box-sizing: border-box; }
#shuju_m #shuju_C:hover { border: 1px solid #010101; color: #010101; }
/*设置显示*/
#shuju_TC #shuju_k { display: block; _left: 0px; }
#shuju_TC #shuju_m { display: block; _left: 50%; }
#rssmsg { margin: 0 auto; margin-top: 15px; font-size: 15px; box-sizing: border-box; line-height: 30px; }
.SJ_JMD_DY { width: 77%; height: 40px; background-position: -5px -4px !important; border: 1px solid #e5e5e5; margin-top: 6px !important; }

/*.l-r .line { background: #fff url("../images/line_bk.png") repeat-y 90px center; }*/
@media(max-width: 1550px) {
	/*.SJ_JMD_list_Content_Top_Right{width: 58%;}*/

}
@media (max-width: 1370px) {
	.SJ_JMD_list_Content_Top_Right{width: 58%;overflow: hidden;}
	.Top_Right_C_T{width: 72%;line-height: 25px;}
	.productListMain{width: 980px;}
	.SU_JMD_Cp dl{width: 44%!important;}
	.SU_JMD_HZ dl dd{width: 58%!important;}
}
@media (max-width: 1125px) {
	.SJ_JMD_list_Content_Top_Right{width: 54%;padding: 20px 0 0 0;}
	.Top_Right_C_T{width: 67%;}
	.productListMain {width: 900px;}
	.SU_JMD_Cp dl dd{width: 60%!important;}
}

@media (max-width: 1025px) {
.productListMain { width: 100%; }
.wrap { background: #f3f5f7; }
}

@media (max-width: 900px) {
.minuteIntroduce .l-b { width: 100%; float: none; padding: 0; }
.minuteIntroduce .l-r { width: 100%; float: none; padding-top: 1px }
.introduce table td:nth-child(1), .introduce table td:nth-child(2) { display: none }
.introduce table .logobox { display: block }
.introduce table .logo-r { display: block }
.minuteIntroduce .xiangxi { height: auto; overflow: auto; }
.JMD_Big_mg_1 ul li { padding: 0 5px }
.JMD_SJ_GSK ul li{width: 100%;}
.JMD_SJ_sear{margin-bottom: 4px;}
.JMD_SJ_sear input{font-size: 12px;}
.JMD_Big_mg_1 ul li span { display: none }
.productListContent_Right{width: 100%!important;position: inherit!important;padding-left: 0!important;}
.productListContent_Left{width: 100%!important;padding-right: 0!important;/*margin-top: 20px!important;*/}/*无AD放开 注释*/
.SJ_XQ{height: auto!important;    padding: 5px 5px 30px 5px!important;}
.SJ_XQ dl dt{width: 70px!important;height: 70px!important;}
.SJ_XQ dl dd{width: 68%!important;}
.line{margin-top: 30px!important;}
.SJ_XQ dl dt a{height: 70px!important;}
.productListMatter{padding: 0;}
.productListContent{padding: 0 10px;box-sizing: border-box;}
.line{overflow-y: inherit!important;height: auto!important;}
.ListMatter_left .xiangxi li div{font-size: 14px;}
.ListMatter_left .xiangxi li a{width: 30px;height: 16px;font-size: 14px!important;line-height: 16px;}
.ListMatter_left .xiangxi li{padding-left: 90px;}
.Cp_list{padding: 10px!important;}
.SU_JMD_Cp dl{width: 100%!important;}
.SU_JMD_Cp dl:nth-child(2n){margin-left: 0!important;}
.SU_JMD_HZ dl dd{width: 65%!important;}
.line{max-height: none!important;}
.Join_US_P{display: none!important;}
.JMD_SJ{    padding: 0 5px;
    box-sizing: border-box;}
    .SJ_JMD_A1{height: 175px;}
    .indexBannerbox{margin-top: 0;height: 175px;}
    .O_company{display: none;!important;}
    .JMD_PL{display: none;}
    .JMD_SJ1{width: 100%;display: block;padding: 10px 2%;box-sizing: border-box;height: 50px;background: #FFF;/**/}
    .JMD_SJ1 select{display: inline-block;width: 30%;text-align: center;height:30px;direction: none;border: 1px solid #e5e5e5;font-size: 14px;font-family: "微软雅黑";padding: 3px;box-sizing: border-box;background: #FFF; /*   -webkit-appearance: none;*/}
    .JMD_SJ1 select:nth-child(2){margin: 0 2.5% 0 2.5%;}
    .JMD_SJ_GSK{margin-top: 0;}
    .SU_JMD_TD ul li,.SU_JMD_TD ul li span{font-size: 14px!important;}


}
@media (max-width: 320px) {
	.SJ_XQ dl dt{width: 60px!important;height: 60px!important;}
.line{margin-top: 30px!important;}
.SJ_XQ dl dt a{height: 60px!important;}
.SJ_XQ{ padding: 5px 5px 30px 5px!important;}
.JMD_Big_mg_1 ul li{margin-right: 5px!important;}/*
.SJ_JMD_list_Content_Top_Right p{display: none;}*/
.SJ_JMD_list_Content_Top_Right p:nth-child(1){display: block!important;}
.JMD_SJ_sear{padding-left: 0; }
.JMD_SJ_sear input{text-indent: 50px;}
}